@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
:root {
  /* colors */
  --black: #333;
  --grey: #999;
  --white: #fafafa;

  /* fonts */
  --font-small: 1.4rem;
  --font-medium: 1.6rem;
  --font-large: 2rem;
  --font-xlarge: 3.5rem;

  /* font weight */
  --font-bold: 700;
  --font-light: 300;
  --font-regular: 400;

  /* spaces */
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-xlarge: 2rem;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.text-black {
  color: var(--black);
}
.text-grey {
  color: var(--grey);
}
.text-white {
  color: var(--white);
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  grid-gap: 1rem;
}
.text-small {
  font-size: var(--font-small);
}
.text-medium {
  font-size: var(--font-medium);
}
.text-large {
  font-size: var(--font-large);
  font-weight: var(--font-bold);
}
.text-xlarge {
  font-size: var(--font-xlarge);
}

/* margin */
.my-1 {
  margin: var(--space-small) 0;
}

.my-2 {
  margin: var(--space-medium) 0;
}

.my-3 {
  margin: var(--space-large) 0;
}

.my-5 {
  margin: var(--space-xlarge) 0;
}

.mx-1 {
  margin: 0 var(--space-small);
}

.mx-2 {
  margin: 0 var(--space-medium);
}

.mx-3 {
  margin: 0 var(--space-large);
}

.mx-5 {
  margin: 0 var(--space-xlarge);
}

.welcome-text {
  font-size: var(--font-xlarge);
  font-weight: var(--font-bold);
  color: var(--black);
  transform: rotate(-90deg);
  margin: 3rem 0;
}
.thumbnail {
  height: 300px;
}
.thumbnail img {
  height: 100%;
  width: 100%;
}

.skill-name {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.progress-bar {
  width: 100%;
  height: 1rem;
  background-color: #eaeaea;
  border-radius: 0.5rem;
}
.progress-bar-inner {
  height: 1rem;
  background-color: var(--black);
  border-radius: 0.5rem;
  transition: all 1s ease-in;
}

@media screen and (max-width: 768px) {
  .grid-cols-3 {
    grid-template-columns: 1fr;
  }
  .welcome-text {
    transform: rotate(0deg);
    margin: 0;
  }
}
